/* Declare the font using @font-face */
@font-face {
  font-family: 'Cheltenham';
  src: url('/fonts/cheltenham-800.ttf') format('ttf');
  font-weight: 700;
  font-style: bold;
}

/* Define the 300 weight */
@font-face {
  font-family: 'Cheltenham';
  src: url('/fonts/cheltenham-300.ttf') format('ttf');
  font-weight: 300;
  font-style: normal;
}

body {
  font-family: 'Cheltenham', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height:80vh;
  font-weight: 700;
}

.hidden {
  display: none;
}

.button {
  background: #333;
  font-family: 'Cheltenham', sans-serif;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  font-weight: 700;
}

textarea, select, input {
  width: 20vw;
  font-weight: 300;
  height: 20px;
}

#video-container{
  flex-direction: column;
}