/* Declare the font using @font-face */
@font-face {
  font-family: 'Cheltenham';
  src: url('/fonts/cheltenham-800.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

/* Define the 300 weight */
@font-face {
  font-family: 'Cheltenham';
  src: url('/fonts/cheltenham-300.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

body {
  font-family: 'Cheltenham', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height:80vh;
}

.hidden {
  display: none;
}

.button {
  background: #333;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

textarea, select, input {
  field-sizing: content;
}